/************************************************

Stylesheet: Global Stylesheet

*************************************************/
/*********************
POSTS & CONTENT STYLES
*********************/
.page-title .vcard {
  border: 0px;
  padding: 0px; }

.byline {
  color: #999; }

.entry-content img {
  max-width: 100%;
  height: auto; }

.entry-content .alignleft, .entry-content img.alignleft {
  margin-right: 1.5em;
  display: inline;
  float: left; }

.entry-content .alignright, .entry-content img.alignright {
  margin-left: 1.5em;
  display: inline;
  float: right; }

.entry-content .aligncenter, .entry-content img.aligncenter {
  margin-right: auto;
  margin-left: auto;
  display: block;
  clear: both; }

.entry-content video, .entry-content object {
  max-width: 100%;
  height: auto; }

.entry-content pre {
  background: #eee;
  border: 1px solid #cecece;
  padding: 10px; }

.wp-caption {
  max-width: 100%;
  background: #eee;
  padding: 5px; }
  .wp-caption img {
    max-width: 100%;
    margin-bottom: 0;
    width: 100%; }
  .wp-caption p.wp-caption-text {
    font-size: 0.85em;
    margin: 4px 0 7px;
    text-align: center; }

.post-password-form input[type="submit"] {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 1rem 0;
  font-family: inherit;
  padding: 0.85em 1em;
  -webkit-appearance: none;
  border: 1px solid transparent;
  border-radius: 0;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
  font-size: 0.9rem;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  background-color: #1779ba;
  color: #fefefe; }
  [data-whatinput='mouse'] .post-password-form input[type="submit"] {
    outline: 0; }
  .post-password-form input[type="submit"]:hover, .post-password-form input[type="submit"]:focus {
    background-color: #14679e;
    color: #fefefe; }

/*********************
IMAGE GALLERY STYLES
*********************/
.gallery {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-right: -15px;
  margin-left: -15px; }

.gallery::before, .gallery::after {
  content: ' ';
  display: table; }

.gallery::after {
  clear: both; }

.gallery.gallery-columns-1 > dl {
  width: 100%;
  float: left;
  padding-right: 0.625rem;
  padding-left: 0.625rem; }
  @media print, screen and (min-width: 40em) {
    .gallery.gallery-columns-1 > dl {
      padding-right: 0.9375rem;
      padding-left: 0.9375rem; } }
  .gallery.gallery-columns-1 > dl:last-child:not(:first-child) {
    float: right; }

.gallery.gallery-columns-2 > dl {
  width: 50%;
  float: left;
  padding-right: 0.625rem;
  padding-left: 0.625rem; }
  @media print, screen and (min-width: 40em) {
    .gallery.gallery-columns-2 > dl {
      padding-right: 0.9375rem;
      padding-left: 0.9375rem; } }
  .gallery.gallery-columns-2 > dl:last-child:not(:first-child) {
    float: right; }

.gallery.gallery-columns-3 > dl {
  width: 33.33333%;
  float: left;
  padding-right: 0.625rem;
  padding-left: 0.625rem; }
  @media print, screen and (min-width: 40em) {
    .gallery.gallery-columns-3 > dl {
      padding-right: 0.9375rem;
      padding-left: 0.9375rem; } }
  .gallery.gallery-columns-3 > dl:last-child:not(:first-child) {
    float: right; }

.gallery.gallery-columns-4 > dl {
  width: 25%;
  float: left;
  padding-right: 0.625rem;
  padding-left: 0.625rem; }
  @media print, screen and (min-width: 40em) {
    .gallery.gallery-columns-4 > dl {
      padding-right: 0.9375rem;
      padding-left: 0.9375rem; } }
  .gallery.gallery-columns-4 > dl:last-child:not(:first-child) {
    float: right; }

.gallery.gallery-columns-5 > dl {
  width: 20%;
  float: left;
  padding-right: 0.625rem;
  padding-left: 0.625rem; }
  @media print, screen and (min-width: 40em) {
    .gallery.gallery-columns-5 > dl {
      padding-right: 0.9375rem;
      padding-left: 0.9375rem; } }
  .gallery.gallery-columns-5 > dl:last-child:not(:first-child) {
    float: right; }

.gallery.gallery-columns-6 > dl {
  width: 16.66667%;
  float: left;
  padding-right: 0.625rem;
  padding-left: 0.625rem; }
  @media print, screen and (min-width: 40em) {
    .gallery.gallery-columns-6 > dl {
      padding-right: 0.9375rem;
      padding-left: 0.9375rem; } }
  .gallery.gallery-columns-6 > dl:last-child:not(:first-child) {
    float: right; }

.gallery.gallery-columns-7 > dl {
  width: 14.28571%;
  float: left;
  padding-right: 0.625rem;
  padding-left: 0.625rem; }
  @media print, screen and (min-width: 40em) {
    .gallery.gallery-columns-7 > dl {
      padding-right: 0.9375rem;
      padding-left: 0.9375rem; } }
  .gallery.gallery-columns-7 > dl:last-child:not(:first-child) {
    float: right; }

.gallery.gallery-columns-8 > dl {
  width: 12.5%;
  float: left;
  padding-right: 0.625rem;
  padding-left: 0.625rem; }
  @media print, screen and (min-width: 40em) {
    .gallery.gallery-columns-8 > dl {
      padding-right: 0.9375rem;
      padding-left: 0.9375rem; } }
  .gallery.gallery-columns-8 > dl:last-child:not(:first-child) {
    float: right; }

.gallery dl {
  width: 100%;
  float: left;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem; }

.gallery dl:last-child:not(:first-child) {
  float: right; }

/*********************
PAGE NAVI STYLES
*********************/
.page-navigation {
  margin-top: 1rem; }

/*********************
COMMENT STYLES
*********************/
#comments .commentlist {
  margin-left: 0px; }

#respond ul {
  margin-left: 0px; }

.commentlist li {
  position: relative;
  clear: both;
  overflow: hidden;
  list-style-type: none;
  margin-bottom: 1.5em;
  padding: 0.7335em 10px; }
  .commentlist li:last-child {
    margin-bottom: 0; }
  .commentlist li ul.children {
    margin: 0; }

.commentlist li[class*=depth-] {
  margin-top: 1.1em; }

.commentlist li.depth-1 {
  margin-left: 0;
  margin-top: 0; }

.commentlist li:not(.depth-1) {
  margin-left: 10px;
  margin-top: 0;
  padding-bottom: 0; }

.commentlist .vcard {
  margin-left: 50px; }
  .commentlist .vcard cite.fn {
    font-weight: 700;
    font-style: normal; }
  .commentlist .vcard time {
    float: right; }
    .commentlist .vcard time a {
      color: #999;
      text-decoration: none; }
      .commentlist .vcard time a:hover {
        text-decoration: underline; }
  .commentlist .vcard img.avatar {
    position: absolute;
    left: 10px;
    padding: 2px;
    border: 1px solid #cecece;
    background: #fff; }

.commentlist .comment_content p {
  margin: 0.7335em 0 1.5em;
  font-size: 1em;
  line-height: 1.5em; }

.commentlist .comment-reply-link {
  float: right; }

/*********************
COMMENT FORM STYLES
*********************/
.respond-form {
  margin: 1.5em 10px;
  padding-bottom: 2.2em; }
  .respond-form form {
    margin: 0.75em 0; }
    .respond-form form li {
      list-style-type: none;
      clear: both;
      margin-bottom: 0.7335em; }
      .respond-form form li label,
      .respond-form form li small {
        display: none; }
    .respond-form form input[type=text],
    .respond-form form input[type=email],
    .respond-form form input[type=url],
    .respond-form form textarea {
      padding: 3px 6px;
      background: #efefef;
      border: 2px solid #cecece;
      line-height: 1.5em; }
      .respond-form form input[type=text]:focus,
      .respond-form form input[type=email]:focus,
      .respond-form form input[type=url]:focus,
      .respond-form form textarea:focus {
        background: #fff; }
      .respond-form form input[type=text]:invalid,
      .respond-form form input[type=email]:invalid,
      .respond-form form input[type=url]:invalid,
      .respond-form form textarea:invalid {
        outline: none;
        border-color: #fbc2c4;
        background-color: #f6e7eb;
        -ms-box-shadow: none;
        box-shadow: none; }
    .respond-form form input[type=text],
    .respond-form form input[type=email],
    .respond-form form input[type=url] {
      max-width: 400px;
      min-width: 250px; }
    .respond-form form textarea {
      resize: none;
      width: 97.3%;
      height: 150px; }

#comment-form-title {
  margin: 0 0 1.1em; }

#allowed_tags {
  margin: 1.5em 10px 0.7335em 0; }

.nocomments {
  margin: 0 20px 1.1em; }

/*********************
SIDEBARS & ASIDES
*********************/
.sidebar li {
  list-style: none; }

.widget ul {
  margin: 0; }

/*********************
FOOTER STYLES
*********************/
.footer {
  clear: both;
  margin-top: 1em; }

/*********************
VISUAL EDITOR STYLES
*********************/
body#tinymce {
  margin: 20px; }

/*********************
PLUGIN STYLES
*********************/
.gform_body ul {
  list-style: none outside none;
  margin: 0; }

/*# sourceMappingURL=style.css.map */


/*********************
MERIDIEN SITE CUSTOMIZATIONS
*********************/
/*
Montserrat font weights: 200-Extra-light, 300-light, 400-Regular, 500-Medium, 600-Semi-Bold, 700-Bold
 */
body { color:#48484d; }
body, h1, h2, h3, h4, h5, h6 { font-family: 'Montserrat', sans-serif; }
h1, h2, h3, h4, h5, h6 { font-weight:600; }
a { color:inherit; }
a:focus, a:hover { color:inherit; }

/* COLORS */
.blue { color:#1f49a5; }
.orange { color:#ff7340; }
.dk-orange { color:#d95221; }
.blue-bgnd { background-color:#1f49a5; }
.orange-bgnd { background-color:#ff7340; }
.dk-orange-bgnd { background-color:#d95221; }
.header-text { color:#75757d; }
.text { color:#48484d; }
.entry-title, .single-title { color:#1f49a5; }

.orange-button, .orange-button:hover, .orange-button:visited, .orange-button:active {
  background-color:transparent;
  border:4px solid #ff7340;
  border-radius:10px;
  color:#48484d;
  font-weight:600;
  font-size:18px;
  display:inline-block;
  padding:.5em 1em;
  line-height:1;
  cursor:pointer;
  margin-bottom:1rem;
}

.white-button, .white-button:hover, .white-button:visited, .white-button:active {
  background-color:transparent;
  border:4px solid #fff;
  border-radius:10px;
  color:#fff;
  font-weight:600;
  font-size:18px;
  padding:.5em 1em;
  display:inline-block;
  line-height:1;
  cursor:pointer;
  margin-bottom:1rem;
}

.orange-white-button, .orange-white-button:hover, .orange-white-button:visited, .orange-white-button:active {
  background-color:transparent;
  border:4px solid #ff7340;
  border-radius:10px;
  color:#fff;
  font-weight:600;
  font-size:18px;
  padding:.5em 1em;
  display:inline-block;
  line-height:1;
  cursor:pointer;
  margin-bottom:1rem;
}

/* HEADER */
.header { color:#fff; }
.top-bar { background:transparent; padding:3em .5em; }
.top-bar ul { background:transparent; }
.top-bar .header-logo { width:160px; }

/* NAVIGATION AND MENUS */
.home #main-nav { text-align:center; }
.home #main-nav li, .top-bar li { text-transform:uppercase; font-size:12px; font-weight:700; letter-spacing:1px; }
.menu .active >a { background:transparent; color:#fff; }
.dropdown.menu.medium-horizontal>li.is-dropdown-submenu-parent>a::after { border-color:#ff7340 transparent transparent; }
.dropdown.menu .is-active>a { color:#fff; }
.is-dropdown-submenu { background-color:#1f49a5 !important; border:none; }
.page-hero {
  height: 30em;
  /*padding: 15% 0%;*/
  background-size: cover;
  background-repeat: no-repeat; 
}
.single-hero {
  height: 20em;
  /*padding: 15% 0%;*/
  background-size: cover;
  background-repeat: no-repeat; 
  background-position: top center;
}
.home #site-header {
  height: auto;
  background-size: cover;
  background-repeat: no-repeat; 
  background-position: top center;
}
.sticky-container { background-color:#1f49a5; }

/* CONTAINERS */
.grid-container { max-width:64em; }
.page-content, .archive-content { margin-top:90px; }
.patient-router { padding:3em 0em; }
.studies-section { color:#fff; padding:3em 0em; }
.testimonial-section { padding:3em 0em; }
.orbit-next, .orbit-previous { z-index:1; }
.orbit-slide { width:90%; margin:auto; }
/* FOOTER */
.footer { margin-top:0em; }
.upper-footer-bg {
  background-color:#b4b4bf;
  color:#48484d;
  font-weight:400;
}
.upper-footer-bg .inner-footer { padding:4em 0em 3em; }

.lower-footer-bg  { 
  background-color:#75757d; 
  color:#fff; 
  font-weight:500;
}
.lower-footer-bg a, .lower-footer-bg a:hover { color:#fff; }
.lower-footer-bg .inner-footer p { margin-bottom:0; }
.lower-footer-bg .inner-footer { padding:2.25em 0em; }

/* For ORBIT FUNCTIONS */



/* 0 - 640 px */
@media only screen {
  .page-hero, .single-hero { max-height: 10em; }
}

/* 640 - 1024 px */
@media only screen and (min-width: 40.063em){
  .page-hero { max-height: 30em; }
  .single-hero { max-height: 20em; }
}
/* 1024 - 1440 px */
@media only screen and (min-width: 63.063em){

}
/* 1440 - 1920 px */
@media only screen and (min-width: 90.063em){

}
/* 1920px > */
@media only screen and (min-width: 120.063em){

}