/************************************************

Stylesheet: Global Stylesheet

*************************************************/
/*********************
POSTS & CONTENT STYLES
*********************/
.page-title .vcard {
  border: 0px;
  padding: 0px; }

.byline {
  color: #999; }

.entry-content img {
  max-width: 100%;
  height: auto; }

.entry-content .alignleft, .entry-content img.alignleft {
  margin-right: 1.5em;
  display: inline;
  float: left; }

.entry-content .alignright, .entry-content img.alignright {
  margin-left: 1.5em;
  display: inline;
  float: right; }

.entry-content .aligncenter, .entry-content img.aligncenter {
  margin-right: auto;
  margin-left: auto;
  display: block;
  clear: both; }

.entry-content video, .entry-content object {
  max-width: 100%;
  height: auto; }

.entry-content pre {
  background: #eee;
  border: 1px solid #cecece;
  padding: 10px; }

.wp-caption {
  max-width: 100%;
  background: #eee;
  padding: 5px; }
  .wp-caption img {
    max-width: 100%;
    margin-bottom: 0;
    width: 100%; }
  .wp-caption p.wp-caption-text {
    font-size: 0.85em;
    margin: 4px 0 7px;
    text-align: center; }

.post-password-form input[type="submit"] {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 1rem 0;
  font-family: inherit;
  padding: 0.85em 1em;
  -webkit-appearance: none;
  border: 1px solid transparent;
  border-radius: 0;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
  font-size: 0.9rem;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  background-color: #1779ba;
  color: #fefefe; }
  [data-whatinput='mouse'] .post-password-form input[type="submit"] {
    outline: 0; }
  .post-password-form input[type="submit"]:hover, .post-password-form input[type="submit"]:focus {
    background-color: #14679e;
    color: #fefefe; }

/*********************
IMAGE GALLERY STYLES
*********************/
.gallery {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-right: -15px;
  margin-left: -15px; }

.gallery::before, .gallery::after {
  content: ' ';
  display: table; }

.gallery::after {
  clear: both; }

.gallery.gallery-columns-1 > dl {
  width: 100%;
  float: left;
  padding-right: 0.625rem;
  padding-left: 0.625rem; }
  @media print, screen and (min-width: 40em) {
    .gallery.gallery-columns-1 > dl {
      padding-right: 0.9375rem;
      padding-left: 0.9375rem; } }
  .gallery.gallery-columns-1 > dl:last-child:not(:first-child) {
    float: right; }

.gallery.gallery-columns-2 > dl {
  width: 50%;
  float: left;
  padding-right: 0.625rem;
  padding-left: 0.625rem; }
  @media print, screen and (min-width: 40em) {
    .gallery.gallery-columns-2 > dl {
      padding-right: 0.9375rem;
      padding-left: 0.9375rem; } }
  .gallery.gallery-columns-2 > dl:last-child:not(:first-child) {
    float: right; }

.gallery.gallery-columns-3 > dl {
  width: 33.33333%;
  float: left;
  padding-right: 0.625rem;
  padding-left: 0.625rem; }
  @media print, screen and (min-width: 40em) {
    .gallery.gallery-columns-3 > dl {
      padding-right: 0.9375rem;
      padding-left: 0.9375rem; } }
  .gallery.gallery-columns-3 > dl:last-child:not(:first-child) {
    float: right; }

.gallery.gallery-columns-4 > dl {
  width: 25%;
  float: left;
  padding-right: 0.625rem;
  padding-left: 0.625rem; }
  @media print, screen and (min-width: 40em) {
    .gallery.gallery-columns-4 > dl {
      padding-right: 0.9375rem;
      padding-left: 0.9375rem; } }
  .gallery.gallery-columns-4 > dl:last-child:not(:first-child) {
    float: right; }

.gallery.gallery-columns-5 > dl {
  width: 20%;
  float: left;
  padding-right: 0.625rem;
  padding-left: 0.625rem; }
  @media print, screen and (min-width: 40em) {
    .gallery.gallery-columns-5 > dl {
      padding-right: 0.9375rem;
      padding-left: 0.9375rem; } }
  .gallery.gallery-columns-5 > dl:last-child:not(:first-child) {
    float: right; }

.gallery.gallery-columns-6 > dl {
  width: 16.66667%;
  float: left;
  padding-right: 0.625rem;
  padding-left: 0.625rem; }
  @media print, screen and (min-width: 40em) {
    .gallery.gallery-columns-6 > dl {
      padding-right: 0.9375rem;
      padding-left: 0.9375rem; } }
  .gallery.gallery-columns-6 > dl:last-child:not(:first-child) {
    float: right; }

.gallery.gallery-columns-7 > dl {
  width: 14.28571%;
  float: left;
  padding-right: 0.625rem;
  padding-left: 0.625rem; }
  @media print, screen and (min-width: 40em) {
    .gallery.gallery-columns-7 > dl {
      padding-right: 0.9375rem;
      padding-left: 0.9375rem; } }
  .gallery.gallery-columns-7 > dl:last-child:not(:first-child) {
    float: right; }

.gallery.gallery-columns-8 > dl {
  width: 12.5%;
  float: left;
  padding-right: 0.625rem;
  padding-left: 0.625rem; }
  @media print, screen and (min-width: 40em) {
    .gallery.gallery-columns-8 > dl {
      padding-right: 0.9375rem;
      padding-left: 0.9375rem; } }
  .gallery.gallery-columns-8 > dl:last-child:not(:first-child) {
    float: right; }

.gallery dl {
  width: 100%;
  float: left;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem; }

.gallery dl:last-child:not(:first-child) {
  float: right; }

/*********************
PAGE NAVI STYLES
*********************/
.page-navigation {
  margin-top: 1rem; }

/*********************
COMMENT STYLES
*********************/
#comments .commentlist {
  margin-left: 0px; }

#respond ul {
  margin-left: 0px; }

.commentlist li {
  position: relative;
  clear: both;
  overflow: hidden;
  list-style-type: none;
  margin-bottom: 1.5em;
  padding: 0.7335em 10px; }
  .commentlist li:last-child {
    margin-bottom: 0; }
  .commentlist li ul.children {
    margin: 0; }

.commentlist li[class*=depth-] {
  margin-top: 1.1em; }

.commentlist li.depth-1 {
  margin-left: 0;
  margin-top: 0; }

.commentlist li:not(.depth-1) {
  margin-left: 10px;
  margin-top: 0;
  padding-bottom: 0; }

.commentlist .vcard {
  margin-left: 50px; }
  .commentlist .vcard cite.fn {
    font-weight: 700;
    font-style: normal; }
  .commentlist .vcard time {
    float: right; }
    .commentlist .vcard time a {
      color: #999;
      text-decoration: none; }
      .commentlist .vcard time a:hover {
        text-decoration: underline; }
  .commentlist .vcard img.avatar {
    position: absolute;
    left: 10px;
    padding: 2px;
    border: 1px solid #cecece;
    background: #fff; }

.commentlist .comment_content p {
  margin: 0.7335em 0 1.5em;
  font-size: 1em;
  line-height: 1.5em; }

.commentlist .comment-reply-link {
  float: right; }

/*********************
COMMENT FORM STYLES
*********************/
.respond-form {
  margin: 1.5em 10px;
  padding-bottom: 2.2em; }
  .respond-form form {
    margin: 0.75em 0; }
    .respond-form form li {
      list-style-type: none;
      clear: both;
      margin-bottom: 0.7335em; }
      .respond-form form li label,
      .respond-form form li small {
        display: none; }
    .respond-form form input[type=text],
    .respond-form form input[type=email],
    .respond-form form input[type=url],
    .respond-form form textarea {
      padding: 3px 6px;
      background: #efefef;
      border: 2px solid #cecece;
      line-height: 1.5em; }
      .respond-form form input[type=text]:focus,
      .respond-form form input[type=email]:focus,
      .respond-form form input[type=url]:focus,
      .respond-form form textarea:focus {
        background: #fff; }
      .respond-form form input[type=text]:invalid,
      .respond-form form input[type=email]:invalid,
      .respond-form form input[type=url]:invalid,
      .respond-form form textarea:invalid {
        outline: none;
        border-color: #fbc2c4;
        background-color: #f6e7eb;
        -ms-box-shadow: none;
        box-shadow: none; }
    .respond-form form input[type=text],
    .respond-form form input[type=email],
    .respond-form form input[type=url] {
      max-width: 400px;
      min-width: 250px; }
    .respond-form form textarea {
      resize: none;
      width: 97.3%;
      height: 150px; }

#comment-form-title {
  margin: 0 0 1.1em; }

#allowed_tags {
  margin: 1.5em 10px 0.7335em 0; }

.nocomments {
  margin: 0 20px 1.1em; }

/*********************
SIDEBARS & ASIDES
*********************/
.sidebar li {
  list-style: none; }

.widget ul {
  margin: 0; }

/*********************
FOOTER STYLES
*********************/
.footer {
  clear: both;
  margin-top: 1em; }

/*********************
VISUAL EDITOR STYLES
*********************/
body#tinymce {
  margin: 20px; }

/*********************
PLUGIN STYLES
*********************/
.gform_body ul {
  list-style: none outside none;
  margin: 0; }

/*# sourceMappingURL=style.css.map */


/*********************
MERIDIEN SITE CUSTOMIZATIONS
*********************/
/*
Montserrat font weights: 200-Extra-light, 300-light, 400-Regular, 500-Medium, 600-Semi-Bold, 700-Bold
 */
body { color:#48484d; font-weight:500; }
body, h1, h2, h3, h4, h5, h6 { font-family: 'Montserrat', sans-serif; }
h1, h2, h3, h4, h5, h6 { font-weight:700; color:#75757d; }
a { color:inherit; }
a:focus { color:inherit; }
a:hover { color:#d95221; }
.no-mar { margin:0; }

/* COLORS */
.blue { color:#1f49a5; }
.alt-blue { color:#2e78e5; }
.orange { color:#ff7340; }
.dk-orange { color:#d95221; }
.header-text { color:#75757d; }
.text { color:#48484d; }
.blue-bgnd { background-color:#1f49a5; }
.orange-bgnd { background-color:#ff7340; }
.dk-orange-bgnd { background-color:#d95221; }

/* SIZINGS AND SPACINGS */
.regular-font { font-weight:400; }
.medium-font { font-weight:500; }
.semi-font { font-weight:600; }
.bold-font { font-weight:700; }
.entry-title, .single-title { font-size:36px; line-height:1.2; }/* H2 for SINGLE templates */
.page-lead { font-size:36px; }
.page-content { font-size:18px; }
.page-content .entry-content { font-size:18px; font-weight:500; }
.key-space { padding:90px 0px; }
.key-space h2 { line-height:1.1; }
#crumbs { font-size:14px; font-weight:400; color:#b4b4bf; text-align:center; }
.topspace { margin-top:1.5em; }
.topem { margin-top:1em; }
.tophalf { margin-top:.5em; }

/* BUTTONS AND ICONS */
.orange-button, .orange-button:hover, .orange-button:visited, .orange-button:active {
  background-color:transparent;
  border:4px solid #ff7340;
  border-radius:10px;
  color:#75757d;
  font-weight:800;
  font-size:18px;
  display:inline-block;
  padding:.5em 1em;
  line-height:1;
  cursor:pointer;
  margin-bottom:1rem;
}
.orange-button:hover {background-color:#ff7340; color:#fff; }

.white-button, .white-button:hover, .white-button:visited, .white-button:active {
  background-color:transparent;
  border:4px solid #fff;
  border-radius:10px;
  color:#fff;
  font-weight:600;
  font-size:18px;
  padding:.5em 1em;
  display:inline-block;
  line-height:1;
  cursor:pointer;
  margin-bottom:1rem;
}

.orange-white-button, .orange-white-button:hover, .orange-white-button:visited, .orange-white-button:active {
  background-color:transparent;
  border:4px solid #ff7340;
  border-radius:10px;
  color:#fff;
  font-weight:600;
  font-size:18px;
  padding:.5em 1em;
  display:inline-block;
  line-height:1;
  cursor:pointer;
  margin-bottom:1rem;
}
.orange-white-button:hover { background-color:#ff7340; }

/* HEADER */
.header, .header h2 { color:#fff; }
.header-cta, .header-cta h2 { color:#fff; }
.top-bar { background:transparent; }
.top-bar { padding:3em .5em; }
.min-padding-header { padding:1em .5em; }
.top-bar ul { background:transparent; }
.top-bar .header-logo { width:160px; }
.home .header .header-logo { max-width:80%; /*margin-bottom:45px;*/ }
.top-bar-left.nav-logo, .top-bar-right.nav-drop { width:49% !important; flex:inherit !important; }
.top-bar-right.nav-drop .menu {  float:right; }
.top-bar-right.nav-drop .menu li { display:inline-block; }
.menu-icon:after, .menu-icon:hover:after { 
  background:#ff7340;
  box-shadow:0 7px 0 #ff7340, 0 14px 0 #ff7340;
  -webkit-box-shadow:0 7px 0 #ff7340, 0 14px 0 #ff7340; 
}
.front-page-header { background-image:url('../images/mrg-img-hdr-hero-desk.jpg');}
.search-icon { height:24px; width:24px; margin:6px 12px; }

.patient-router:before { 
  content:'';
  bottom: auto;
  left: 50%;
  position: absolute;
  height: 8%;
  min-height: 120px;
  border:1.5px solid #b4b4bf;
}
.patient-subrouter:before { 
  content:'';
  bottom: auto;
  left: 50%;
  position: absolute;
  height: 5%;
  min-height: 100px;
  border:1.5px solid #b4b4bf;
}

.patient-router-alt .cta-mobile { padding:2em; display:inline-flex; }
.patient-router-alt .cta-mobile img { margin-right:2em; }
.patient-router-alt .cta-mobile .white-button { margin:auto; font-size:16px; font-weight:500; padding:1.25em .5em; }

/* NAVIGATION AND MENUS */
.off-canvas { background:#f0f0ff; }
.off-canvas.position-right { width:100%; }
.off-canvas .menu .active > a { color:inherit; }
.off-canvas #offcanvas-nav { text-align:left; font-weight:600; margin-top:1.5em; }
.off-canvas #offcanvas-nav li { margin:0.7em 0em; }

.position-right.is-transition-push { box-shadow:none; -webkit-box-shadow:none;  }
.home #main-nav { text-align:center; }
.home #main-nav li, .top-bar li { text-transform:uppercase; font-size:12px; font-weight:700; letter-spacing:1px; }
.menu .active >a { background:transparent; color:#d95221; }
.dropdown.menu.medium-horizontal>li.is-dropdown-submenu-parent>a::after { border-color:#ff7340 transparent transparent; }
.dropdown.menu .is-active>a { color:#d95221; }
.is-dropdown-submenu { background-color:#1f49a5 !important; border:none; }
.sticky-container { background-color:#1f49a5; }

.page-navigation { text-align:right; }
.page-navigation .pagination {}
.page-navigation .pagination a:hover { background:none; }
.page-navigation .pagination .current { background:none; color:inherit; }

/* BACKGROUND POSITIONINGS */
.page-hero {
  height: 30em;
  /*padding: 15% 0%;*/
  background-size: cover;
  background-repeat: no-repeat; 
}
.single-hero {
  height: 20em;
  /*padding: 15% 0%;*/
  background-size: cover;
  background-repeat: no-repeat; 
  background-position: top center;
}
.home .header-cta {
  height: auto;
  background-size: cover;
  background-repeat: no-repeat; 
  background-position: top center;
}
.home .header-cta .header-logo { max-width:80%; margin-bottom:45px; }

.casestudies-section {}
.casestudies-section .study-row { margin-top:.5em; }
.blog-section, .cta-section, .studies-section, .benefits-section, .services-section, .trials-section { 
  background-size:cover; 
  background-repeat:no-repeat; 
  background-position:top left; 
  padding:90px 0px; 
}

/* CONTAINERS */
.grid-container { max-width:64em; }
.page-content-margin, .archive-content-margin, .trials-section { margin-top:6em; }
.patient-router, .patient-subrouter { padding:0px 0px 74px 0px; }
.casestudies-section, .testimonial-section { padding:6em 0em; }
.excellence-section { padding:3em 0em; }

.benefits-section, .services-section, .studies-section { color:#fff; padding:6em 0em; }

.trials-section { color:#fff; padding:9em 0em; }

.cta-section, .cta-section h1, .cta-section h2, .cta-section h3, .cta-section h4, 
.benefits-section h3, .studies-section h3, .services-section h3, .trials-section h3 { color:#fff; }

.services-section ul { list-style:none; display:inline-block; text-align:left; margin-left:0; }
.services-section .services-list li { margin: 1em 0em; }
.services-section ul li::before { content: "\2022"; color:#ff7340; font-weight:bold; display:inline-block; width:1em; }

.display-posts-listing .listing-item { display:inline-grid; text-align: center; margin:1em 0em; }
.display-posts-listing .listing-item .image img { min-width:200px;/*min-height:120px;*/ border-radius:10px; width:100%; }
.display-posts-listing .listing-item .title { font-weight:700; line-height:1.4; padding:0.75em 0em; }

.page-grid article .featured-image img { min-width:200px;/*min-height:120px;*/ border-radius:10px; }

.archive .type-studies { text-align:center; }
.archive .type-studies .article-header img { min-width:200px;/*min-height:120px;*/ border-radius:10px; width:100%; }
.archive .entry-content .entry-content-meta h6 { font-size:14px; font-weight:600; }

.archive .archive-grid { margin-top:6em; }
.archive .archive-grid article .featured-image img { min-width:200px; border-radius:10px; width:100%; }
.archive .archive-grid article .article-header .title { font-size:18px; font-weight:700; line-height:1.4; padding:0.75em 0em;  }

.blog-grid-item { display:inline-grid; text-align: center; }
.blog-grid-item .article-header .title { font-size:18px; font-weight:700; line-height:1.4; padding:0.75em 0em;  }

.location-grid-item { /*display:inline-grid;*/ text-align: center; }
.location-grid-item img { min-width:200px; border-radius:10px; width:100%; }
.location-grid-item .article-header .title { font-size:18px; font-weight:700; line-height:1.4; padding:0.75em 0em;  }

.staff-grid-item { display:inline-grid; text-align: center; }
.staff-grid-item img { min-width:200px; border-radius:10px; width:100%; }
.staff-grid-item .article-header .title { font-size:18px; font-weight:700; line-height:1.4; padding:0.75em 0em;  }

.blog-pagination { float:right; }

.accordion-content { border:none; }
:last-child>.accordion-content:last-child { border:none; }

#top-ref { scroll-behavior: smooth; }


/* FORMS */
.nf-field-element ::placeholder { color:#75757d; opacity:1; }
.nf-field-element :-ms-input-placeholder { color:#75757d; }
.nf-field-element ::-ms-input-placeholder { color:#75757d;  }
.patient-form {}
.patient-form .nf-field-element input[type=button] {
  background-color:transparent;
  border:4px solid #fff;
  border-radius:10px;
  color:#fff;
  font-weight:600;
  font-size:18px;
  padding:.5em 1em;
  display:inline-block;
  line-height:1;
  cursor:pointer;
  margin:1rem 0rem;
}
.patient-form .nf-field-element input[type=button]:hover {
  background-color:#fff;
  color:#ff7340;

}
.patient-form .nf-field-element input[type=text],
.patient-form .nf-field-element input[type=email],
.patient-form .nf-field-element input[type=tel],
.patient-form .nf-field-element select { border:0; border-radius:10px; color:#75757d; }
.patient-form .nf-multi-cell .nf-cell { padding:0 10px; }

.sponsor-form {}
.sponsor-form .nf-field-element input[type=button] {
  background-color:transparent;
  border:4px solid #fff;
  border-radius:10px;
  color:#fff;
  font-weight:600;
  font-size:18px;
  padding:.5em 1em;
  display:inline-block;
  line-height:1;
  cursor:pointer;
  margin:1rem 0rem;
}
.sponsor-form .nf-field-element input[type=button]:hover {
  background-color:#fff;
  color:#ff7340;

}
.sponsor-form .nf-field-element input[type=text],
.sponsor-form .nf-field-element input[type=email],
.sponsor-form .nf-field-element input[type=tel],
.sponsor-form .nf-field-element select,
.sponsor-form .nf-field-element textarea { border:0; border-radius:10px; color:#75757d; }
.sponsor-form .nf-multi-cell .nf-cell { padding:0 10px; }

/* FOOTER */
.footer { margin-top:0em; }
.upper-footer-bg {
  background-color:#b4b4bf;
  color:#48484d;
  font-weight:400;
}
.upper-footer-bg .inner-footer { padding:6em 0em 6em; }

.lower-footer-bg  { 
  background-color:#75757d; 
  color:#fff; 
  font-weight:500;
}
.lower-footer-bg a { color:#fff; }
.lower-footer-bg a:hover { color:#d95221; }
.lower-footer-bg .inner-footer p { margin-bottom:0; }
.lower-footer-bg .inner-footer { padding:2.25em 0em; }
.inner-footer .footer-logo { max-width:80%; margin-top:0em; margin-bottom:1em; }
.inner-footer .menu li { width:100%; font-weight:500; font-size:16px; }
.inner-footer .menu li .submenu { list-style-type:none; }
.inner-footer .menu li .submenu li { width:100%; }

#menu-footer-links-three {}
#menu-footer-links-three li:first-child, #menu-footer-links-two li:first-child, #menu-footer-links li:first-child { font-weight:900; }
#menu-footer-links-three li:last-child, #menu-footer-links-two li:last-child, #menu-footer-links li:last-child { border-bottom:none; padding-bottom:none; margin-bottom:none; }

/* For ORBIT FUNCTIONS */
.orbit-slide { width:80%; margin:auto; }
.orbit-next, .orbit-previous { z-index:1; font-size:1.5em; }
.orbit-next:active, .orbit-next:focus, .orbit-next:hover, .orbit-previous:active, .orbit-previous:focus, .orbit-previous:hover { background-color:transparent; }

/* For SEARCHANDFILTER plugin FUNCTIONS */
.searchandfilter ul { display:inline-flex; }

/* 0 - 640 px */
@media only screen {
  .front-page-header { background-image:url('../images/mrg-img-hdr-hero-mob.jpg'); }
  .blog-section { background-image: url('../images/mrg-img-pat-blog-bg-desk.jpg'); }
  .cta-section { background-image: url('../images/mrg-img-pat-form-bg-desk.jpg'); }
  .benefits-section { background-image: url('../images/mrg-img-cta-vol-bg-mob.jpg'); }
  .studies-section { text-align:center; background-image:url('../images/mrg-img-cta-studies-bg-desk.jpg'); }
  .services-section { background-image:url('../images/mrg-img-cta-services-bg-desk.jpg'); }
  .trials-section { background-image:url('../images/mrg-img-about-trials-bg-desk.jpg'); }
  .location-studies-section { background-image: url('../images/mrg-img-pat-blog-bg-desk.jpg'); }
  article { margin:1em 0em; }
  .social-logo { width:40px; }
  .top-bar { padding:.5em .5em; } 
  .page-hero, .single-hero { max-height: 10em; }
  .key-space { padding:30px 0px; }
  .patient-router:before, .patient-subrouter:before {  border:none; }
  .page-content-margin, .archive-content-margin, .trials-section { margin-top:3em; margin-bottom:3em; }
  .casestudies-section, .testimonial-section, .benefits-section, .services-section, .studies-section, .location-studies-section { padding:3em 0em; }
  .casestudies-section .study-row .cell { margin:1em 0em; }
  .inner-footer { text-align:center; }
  .inner-footer .footer-logo { max-width:60%; margin-top:1.5em; margin-bottom:1.5em; }
  .terms, .privacy, .copyright { font-size:16px; font-weight:300; text-align:center; padding:.25em 0em; }
  .archive .archive-grid { margin-top:3em; }
  #menu-footer-links-three li:last-child, 
  #menu-footer-links-two li:last-child, 
  #menu-footer-links li:last-child { border-bottom:1px solid #48484d; padding-bottom:1em; margin-bottom:1em; }
  #ref-link { font-size:48px; }
}

/* 640 - 1024 px */
@media only screen and (min-width: 40.063em){
  .front-page-header { background-image:url('../images/mrg-img-hdr-hero-desk.jpg'); }
  .blog-section { background-image: url('../images/mrg-img-pat-blog-bg-desk.jpg'); }
  .cta-section { background-image: url('../images/mrg-img-pat-form-bg-desk.jpg'); }
  .benefits-section { background-image: url('../images/mrg-img-cta-vol-bg-desk.jpg'); }
  .studies-section { text-align:inherit; background-image:url('../images/mrg-img-cta-studies-bg-desk.jpg'); }
  .services-section { background-image:url('../images/mrg-img-cta-services-bg-desk.jpg'); }
  .trials-section { background-image:url('../images/mrg-img-about-trials-bg-desk.jpg'); }
  .location-studies-section { background-image: url('../images/mrg-img-pat-blog-bg-desk.jpg'); }
  article { margin:0em 0em; }
  .social-logo { width:32px; }
  .top-bar { padding:3em .5em; }
  .min-padding-header { padding:1em .5em; }
  .page-hero { max-height: 30em; }
  .single-hero { max-height: 20em; }
  .key-space { padding:90px 0px; }
  .patient-router:before, .patient-subrouter:before {  border:1.5px solid #b4b4bf; }
  .page-content-margin { margin-top:6em; margin-bottom:4em; }
  .archive-content-margin, .trials-section { margin-top:6em; margin-bottom:6em; }
  .casestudies-section, .testimonial-section, .benefits-section, .services-section, .studies-section, .location-studies-section { padding:6em 0em; }
  .casestudies-section .study-row .cell { margin:0em 0em; }
  .inner-footer { text-align:inherit; }
  .inner-footer .footer-logo { max-width:80%; margin-top:0; margin-bottom:1em; }
  .terms, .privacy, .copyright { font-size:inherit; font-weight:inherit; text-align:inherit; }
  .archive .archive-grid { margin-top:6em; }
  #menu-footer-links-three li:last-child, 
  #menu-footer-links-two li:last-child, 
  #menu-footer-links li:last-child { border-bottom:none; padding-bottom:none; margin-bottom:none; }
  #ref-link { font-size:16px; }
}
/* 1024 - 1440 px */
@media only screen and (min-width: 63.063em){
  .front-page-header { background-image:url('../images/mrg-img-hdr-hero-desk.jpg'); }
  .blog-section { background-image: url('../images/mrg-img-pat-blog-bg-desk.jpg'); }
  .cta-section { background-image: url('../images/mrg-img-pat-form-bg-desk.jpg'); }
  .benefits-section { background-image: url('../images/mrg-img-cta-vol-bg-desk.jpg'); }
  .studies-section { background-image:url('../images/mrg-img-cta-studies-bg-desk.jpg'); }
  .services-section { background-image:url('../images/mrg-img-cta-services-bg-desk.jpg'); }
  .trials-section { background-image:url('../images/mrg-img-about-trials-bg-desk.jpg'); }
  .location-studies-section { background-image: url('../images/mrg-img-pat-blog-bg-desk.jpg'); }
  .key-space { padding:90px 0px; }
}
/* 1440 - 1920 px */
@media only screen and (min-width: 90.063em){

}
/* 1920px > */
@media only screen and (min-width: 120.063em){

}